{% extends 'base.html' %}

{% load static %}

{% load bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% load bootstrap_icons %}

{% block title %}Cursos adultos{% endblock %}

{% block content %}

    <!-- Service Start -->
    <div class="container-xxl py-0">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg col-sm wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <!-- <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>-->
                            <img src="{% static 'img/adulto.webp' %}" style="width: 100px; height: 100px;">
                            <h6 class="mb-3">Adultos</h6>
                           <!-- <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg col-sm wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <!-- <i class="fa fa-3x fa-globe text-primary mb-4"></i>-->
                            <img src="{% static 'img/teens.webp' %}" style="width: 100px; height: 100px;">
                            <h5 class="mb-3">Adolescentes</h5>
                            <!-- <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg col-sm wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <!--  <i class="fa fa-3x fa-home text-primary mb-4"></i>-->
                            <img src="{% static 'img/kids.webp' %}" style="width: 100px; height: 100px;">
                            <h5 class="mb-3">Niñas y Niños</h5>
                            <!-- <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg col-sm wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <!--<i class="fa fa-3x fa-book-open text-primary mb-4"></i>-->
                            <img src="{% static 'img/preschool.webp' %}" style="width: 100px; height: 100px;">
                            <h5 class="mb-3">Preescolares</h5>
                            <!--<p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg col-sm wow fadeInUp" data-wow-delay="0.9s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <!--<i class="fa fa-3x fa-book-open text-primary mb-4"></i>-->
                            <img src="{% static 'img/PROGRAMAEMPRESAS.webp' %}" style="width: 100px; height: 100px;">
                            <h5 class="mb-3">Empresas</h5>
                            <!--<p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg col-sm wow fadeInUp" data-wow-delay="1.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <!--<i class="fa fa-3x fa-book-open text-primary mb-4"></i>-->
                            <img src="{% static 'img/E-LEARNINGINICIAL.webp' %}" style="width: 100px; height: 100px;">
                            <h5 class="mb-3">E-Learning</h5>
                            <!--<p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>-->
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>   
   
    <!-- Service End -->


{% endblock %}