{% extends 'base.html' %}

{% load static %}

{% load bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}        

{% load bootstrap_icons %}

{% block title %}About Us{% endblock %}

{% block content %}
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">About Us</h1>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <h1 class="mb-4">Bienvenido al Instituto Chileno Norteamericano</h1>
                    <p class="mb-4 " style="text-align:justify" >El Instituto Chileno Norteamericano es un centro binacional, 
                        fundado el 24 de Noviembre de 1938. 
                        Nuestra misión es fomentar y educar en el idioma inglés como una herramienta fundamental
                         para el mundo de hoy y que constituye una habilidad y valor comunicativo universal. 
                         Desarrollamos nuestra experiencia en el diseño e implementación de programas de enseñanza
                          de inglés para la comunicación interpersonal de adultos; programas de inglés para jóvenes,
                           niños y pre-escolares ; cursos de capacitación para empresas y servicio de información y biblioteca.
                            Nos interesa ser un centro educativo y cultural, participante activo y dinamizador de los procesos de desarrollo,
                             con aportes de la interacción de las culturas chilena y estadounidense en sus distintas expresiones,
                              asegurando cada día más un profundo conocimiento de los valores representativos de ambos pueblos.
                               Estos han sido los rasgos distintivos que diferencian al Instituto Chileno Norteamericano de Cultura
                                de otras instituciones que se ocupan de la enseñanza del idioma inglés </p>
                    
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


        
{% endblock %}